<div class="playcard">
  <ng-form [formGroup]="wordForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter originals words" formControlName="word">
    </mat-form-field>
    <div></div>
    <mat-form-field class="example-full-width">
      <mat-label>Select language</mat-label>
      <mat-select formControlName="lang">
        <mat-option *ngFor="let lang of langs" [value]="lang">{{lang}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div></div>
    <button mat-flat-button color="accent" (click)="wordCommit()">Add word</button>
  </ng-form>
</div>

