<mat-card class="setcard">
  <h4>Select language</h4>
  <mat-form-field>
    <mat-label>Change language</mat-label>
    <mat-select (selectionChange)="changeLang($event)">
      <mat-option *ngFor="let l of language" [value]="l" (select)="changeLang(l)">
        {{l.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <h4>Select Time: {{time}}</h4>
  <button mat-button (click)="minusTime()">
  <mat-icon aria-hidden="false" aria-label="remove icon">remove</mat-icon>
  </button>
  <mat-slider min="1" max="10" step="1" [value]="time" tickInterval="1" thumbLabel (change)="changeTime($event)"></mat-slider>
  <button mat-button (click)="plusTime()">
  <mat-icon aria-hidden="false">add</mat-icon>
  </button>
  <h4>Count of words</h4>
  <mat-form-field class="inpwords">
    <input matInput placeholder="Word's number" [value]="wordsCnt" (change)="setWordCnt($event)">
  </mat-form-field>
</mat-card>
