<div class="example-layout">
<div class="example-header">
  <mat-toolbar color="primary">
    My lang app
  </mat-toolbar>
</div>
<div class="example-main">
  <div class="example-nav">
  <mat-nav-list>
    <mat-list-item *ngFor="let item of menuItems">
      <a matLine [routerLink]="item.value">{{ item.name }}</a>
      <button mat-icon-button >
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
  </div>
  <div class="example-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="example-footer">
  <mat-toolbar color="primary" style="justify-content: end">
    {{today|date}}
  </mat-toolbar>
</div>
</div>
